.autContainer{
  align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    column-gap: 24px;
}


.link {
    display: inline-block;
    font-weight: 500;
    color: #FF7F08;
    padding: 24px 12px 12px ;
      
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.link:hover,
.link:focus{
  color: #c6e327;

}
  .link.active {
    color: #c6e327;
  }
  