:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color:#242527;
  color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 105%;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;
  color: #FF7F08;
}
button {
  cursor: pointer;
}
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
