

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.item {
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    background: #ffffff1a;
    border-radius: 5px;
    border: 1px solid #f9f000;
}